<% layout('../layouts/dashboard-layout') %>
  <div class="row">
    <div class="col-md-12">
      <form action="/dashboard/menu_items/new" method="POST">
        <table class="table">
          <tr>
            <td>
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter menu item name">
            </td>
            <td colspan="2">
              <label for="price">Price:</label>
              <input type="text" class="form-control" id="price" name="price" placeholder="Enter menu item price">
            </td>
            <td width="25%">
              <label for="category-select">Category: </label>
              <select class="form-control text-uppercase" id="category-select" name="category">
                <% for (let prop in categories){ %>
                  <option value="<%= prop %>">
                    <%= categories[prop].name %>
                  </option>
                  <% } %>
            </td>
            <td colspan="2">
              <label for="imgUrl">Image url link: </label>
              <input type="text" class="form-control" id="imgUrl" name="imgUrl" placeholder="Enter image url">
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button type="submit" class="btn btn-outline-primary">Add Menu Item</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/dashboard/menu_items/new?category=all" class="list-group-item list-group-item-action text-uppercase <% if (categoryQuery == 'all'){ %>active<% } %>">
          All
        </a>
        <% for (let prop in categories){ %>
          <a href="/dashboard/menu_items/new?category=<%= categories[prop].name %>" class="list-group-item list-group-item-action text-uppercase <% if (categoryQuery == categories[prop].name){ %>active<% }%>">
            <%= categories[prop].name %>
          </a>
          <% } %>
      </div>
    </div>
    <div class="col-md-6">

      <h2 class="mb-3">Menu Items</h2>

      <table class="table">
        <thead>
          <tr>
            <th width="200px">Image</th>
            <th>Name</th>
            <th width="80px">price</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          <% menu_items.map(({name, price, imgUrl, id})=>{ %>
            <tr>
              <td class="align-middle">
                <img class="img-fluid" src="<%= imgUrl %>" alt="<%= name %>">
              </td>
              <td class="align-middle">
                <%= name %>
              </td>
              <td class="align-middle">$
                <%= price %>.00</td>
              <td class="align-middle">
                <form action="/dashboard/menuItems/delete/<%= id %>" method="POST">
                  <button type="submit" 
                          class="btn btn-outline-danger btn-sm delMenuItem" 
                          data-id="<%= id %>"
                          data-name="<%= name %>">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>